// ul {
//     margin: 0px;
//     padding: 0px;
// }
.row {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.row_sm {
    margin-bottom: 30px;
    margin-right: 50px;
}

.row_mid_sm {
    margin-right: 10px;
}

.row_ls_sm {
    justify-content: center;
}

.footer_section {
    background: #151414;
    position: relative;
    margin-top: 10px;
}

.footer_cta {
    border-bottom: 1px solid #373636;
    // margin-top: 10px;
}

.single_cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.single_cta {
    font-size: 45px;
    color: #ff5e14;

}

.cta_text {
    padding-left: 15px;
    display: inline-block;
}

.cta_text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta_text span {
    color: #757575;
    font-size: 15px;
}

.footer_content {
    position: relative;
    z-index: 2;
}

.footer_pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer_logo {
    margin-bottom: 30px;
}

.footer_logo img {
    max-width: 200px;
}

.footer_text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer_social_icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.footer_social_icon a {
    color: orangered;
    font-size: 25px;
    margin-right: 15px;
}

.footer_social_icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook_bg {
    background: #3b5998;
}

.twitter_bg {
    background: #55acee;
}

.google_bg {
    background: #dd4b39;
}

.footer_widget_heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer_widget_heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer_widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
    cursor: pointer;
}

.footer_widget {
    & ul {
        padding: 0px;

    }
}

.footer_widget ul li a:hover {
    color: #ff5e14;
}

.footer_widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe_form {
    position: relative;
    overflow: hidden;
}

.subscribe_form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
}

.subscribe_form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
    height: 100%;
}

.subscribe_form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright_area {
    background: #202020;
    padding: 25px 0;
}

.copyright_text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright_text p a {
    color: #ff5e14;
}

.footer_menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer_menu li:hover a {
    color: #ff5e14;
}

.footer_menu li a {
    font-size: 14px;
    color: #878787;
}

@media (max-width:800px){
    .row{
        display: grid;
    }
}